<?xml version="1.0"?>
<launch>
    <!-- start gazebo server with empty world -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true"/>

	<!-- <arg name="world_name" value="$(find a600_description)/launch/low_gravity.world"/> -->
	</include>

  <!-- Robot model -->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find a600_description)/xacro/a600_description_box_colision.xacro'" />
		

	<node 
			name="spawn_robot" 
			pkg="gazebo_ros" 
			type="spawn_model" 
			respawn="false"
			args="-urdf -model a600 -param robot_description -z 0.83">
	</node>

<!-- -z 0.83 -->
	<rosparam command="load" file="$(find a600_description)/config/gazebo_controller.yaml"/> 
	
 <node name="contoller_spawner"  pkg="controller_manager"  type="spawner"  respawn="false"
    	output="screen"  ns="/a600"   
         	args="joint1_position_controller " />  

<node name="talker" pkg="control" type="control.py" />

<!-- calculate, publish and remap joint_states -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
		respawn="false" output="screen">
	<remap from="/joint_states" to="/ar601/joint_states"/>
</node>

</launch>
		   
