<?xml version="1.0" ?>

<robot name="AR-600" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Start - Include -->
  <xacro:include filename="$(find a600_description)/xacro/links_joints.xacro"/>
  <xacro:include filename="$(find a600_description)/xacro/plugin.gazebo"/>

  <!-- Constants value-->
<xacro:property name="PI" value="3.1415926535897931"/>
<xacro:property name="lower_angle" value="-1.04719755"/>    
<xacro:property name="upper_angle" value="1.04719755"/> 
<xacro:property name="effort" value="1000"/>   
<xacro:property name="angular_velocity" value="0.5"/>     



<!-- <link name="dummy">
   </link>
  <joint name="dummy_joint" type="fixed">
     <parent link="dummy"/>
     <child link="body"/>
   </joint> -->
                
<link_stl_box name="base_link"
        origin_xyz="-0.0014901 0.13851 0.00071357" origin_rpy="0 0 0"
        box_size = "0.01 0.01 0.01" 
        mass="28.386"
        ixx="0.073017"
        ixy="-3.603E-05"
        ixz="5.7649E-06"
        iyy="0.085864"
        iyz="0.0040898"
        izz="0.10252"
        color = 'orange' />

<!-- Right Leg -->
<link_stl_box name="R_HipR"
        origin_xyz="0.00071161 -0.027458 -0.023065" origin_rpy="0 0 0" 
        box_size = "0.01 0.01 0.01" 
        mass="2.3558"
        ixx="0.0032395"
        ixy="1.8675E-05"
        ixz="-4.6222E-05"
        iyy="0.0032177"
        iyz="7.5574E-06"
        izz="0.0025538"
        color = 'orange' />

<revolute_joint name="R_HipR" type="revolute"
        origin_rpy="1.5708 0 0" origin_xyz="-0.088 -0.027645 0"
        parent="base_link" child="R_HipR"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 1 0" />

<link_stl_box name="R_HipS"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.0032793 0.00011106 0.025957"
        origin_rpy="0 0 0"
        mass="6.15"
        ixx="0.0051093"
        ixy="1.2709E-05"
        ixz="7.1765E-06"
        iyy="0.0048779"
        iyz="-5.4798E-06"
        izz="0.0062721"
        color = 'orange' />

<revolute_joint name="R_HipS" type="revolute"
        origin_xyz="0 -0.102 0"
        origin_rpy="3.1416 0 3.1416"
        parent="R_HipR" child="R_HipS"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 0 1" />

<link_stl_box name="R_Knee_Upper"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.018772 -0.22402 -0.0063916"
        origin_rpy="0 0 0"
        mass="16.331"
        ixx="0.048034"
        ixy="2.0407E-07"
        ixz="-6.8084E-05"
        iyy="0.015142"
        iyz="-0.00213"
        izz="0.039371"
        color = 'orange' />

<revolute_joint name="R_Knee_Upper" type="revolute"
      origin_xyz="0 0 0"
      origin_rpy="0 0 0"
        parent="R_HipS" child="R_Knee_Upper"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="1 0 0" />

<link_stl_box name="R_Knee_Lower"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="-0.011938 -0.17383 0.0029031"
        origin_rpy="0 0 0"
        mass="10.03"
        ixx="0.020389"
        ixy="3.5365E-08"
        ixz="-9.649E-07"
        iyy="0.0072632"
        iyz="8.7687E-05"
        izz="0.015199"
        color = 'orange' />

<revolute_joint name="R_Knee_Lower" type="revolute"
      origin_xyz="0 -0.28 0"
      origin_rpy="3.1416 0 3.1416"
        parent="R_Knee_Upper" child="R_Knee_Lower"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="1 0 0" />

<link_stl_box name="R_FootR"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="-0.00069157 0.029306 0.012871"
        origin_rpy="0 0 0"
        mass="1.1565"
        ixx="0.00063348"
        ixy="-6.7285E-07"
        ixz="-4.078E-08"
        iyy="0.00057147"
        iyz="-3.7116E-06"
        izz="0.0003019"
        color = 'orange' />

<revolute_joint name="R_FootR" type="revolute"
      origin_xyz="0 -0.27682 0.010063"
      origin_rpy="3.1053 -0.00039391 -0.010836"
        parent="R_Knee_Lower" child="R_FootR"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0.99994 -0.010843 0"   />

<link_stl name="R_FootS"
        origin_xyz="-6.0221E-05 0.080294 -0.056863"
        origin_rpy="0 0 0"
        mass="11.269"
        ixx="0.02985"
        ixy="-1.1479E-05"
        ixz="7.8243E-06"
        iyy="0.03455"
        iyz="0.00043103"
        izz="0.0088348"
        color = 'orange' />

<revolute_joint name="R_FootS" type="revolute"
      origin_xyz="-0.00032467 0.030005 0"
      origin_rpy="0 0 0" 
        parent="R_FootR" child="R_FootS"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 0 1"  />

<!-- Left Leg -->
<link_stl_box name="L_HipR"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="-0.00070201 -0.027248 -0.022799"
        origin_rpy="0 0 0"
        mass="2.388"
        ixx="0.00324"
        ixy="-1.8675E-05"
        ixz="4.6222E-05"
        iyy="0.003218"
        iyz="7.5574E-06"
        izz="0.0025543"
        color = 'orange' />

<revolute_joint name="L_HipR" type="revolute"
      origin_xyz="0.088 -0.027645 0"
      origin_rpy="1.5708 0 0" 
        parent="base_link" child="L_HipR"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 1 0"  />

<link_stl_box name="L_HipS"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.0033351 0.00011632 -0.025364"
        origin_rpy="0 0 0"
        mass="6.15"
        ixx="0.005105"
        ixy="1.2895E-05"
        ixz="1.554E-07"
        iyy="0.0048687"
        iyz="1.0129E-05"
        izz="0.006262"
        color = 'orange' />

<revolute_joint name="L_HipS" type="revolute"
      origin_xyz="0 -0.102 0"
      origin_rpy="0 0 0"
        parent="L_HipR" child="L_HipS"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 0 1"  />

<link_stl_box name="L_Knee_upper"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.018739 -0.22354 0.0087895"
        origin_rpy="0 0 0"
        mass="16.528"
        ixx="0.048222"
        ixy="4.2459E-06"
        ixz="6.2369E-05"
        iyy="0.015119"
        iyz="0.002184"
        izz="0.039943"
        color = 'orange' />

<revolute_joint name="L_Knee_upper" type="revolute"
      origin_xyz="0 0 0"
      origin_rpy="0 0 0"
        parent="L_HipS" child="L_Knee_upper"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="1 0 0"  />


<link_stl_box name="L_Knee_Lower"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.011812 -0.16731 -0.0034716"
        origin_rpy="0 0 0"
        mass="10.498"
        ixx="0.021077"
        ixy="-1.0082E-06"
        ixz="-1.8986E-06"
        iyy="0.007636"
        iyz="-0.00016695"
        izz="0.01553"
        color = 'orange' />

<revolute_joint name="L_Knee_Lower" type="revolute"
      origin_xyz="0 -0.28 0"
      origin_rpy="-0.036336 0 0" 
        parent="L_Knee_upper" child="L_Knee_Lower"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="1 0 0"  />

<link_stl_box name="L_FootR"
        box_size = "0.01 0.01 0.01" 
        origin_xyz="0.00060836 0.029292 0.012871"
        origin_rpy="0 0 0"
        mass="1.1565"
        ixx="0.00063348"
        ixy="-6.7285E-07"
        ixz="-4.078E-08"
        iyy="0.00057147"
        iyz="-3.7116E-06"
        izz="0.0003019"
        color = 'orange' />

<revolute_joint name="L_FootR" type="revolute"
      origin_xyz="0 -0.277 0"
      origin_rpy="3.1416 0 -0.010843"
        parent="L_Knee_Lower" child="L_FootR"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0.99994 -0.010843 0"  />

<link_stl name="L_FootS"
        origin_xyz="-6.0221E-05 0.080294 -0.056863"
        origin_rpy="0 0 0"
        mass="11.269"
        ixx="0.02985"
        ixy="-1.1479E-05"
        ixz="7.8243E-06"
        iyy="0.03455"
        iyz="0.00043103"
        izz="0.0088348"
        color = 'orange' />

<revolute_joint name="L_FootS" type="revolute"
      origin_xyz="0.00097526 0.029991 0"
      origin_rpy="0 0 0" 
        parent="L_FootR" child="L_FootS"
        limit_e="${effort}" limit_l="${lower_angle}" limit_u="${upper_angle}" limit_v="${angular_velocity}" 
        axis_xyz="0 0 1"  />

</robot>